
/*Navigation */

.navbar {
    padding: 15px 10px;
    background: #C3C7F7;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.navbar a{
    color: #10187A;
    font-weight: bold;
}
.navbar a:hover{
    color: #5F67C2;
}

/*Navigation end*/




/*Main and sidebar*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    display: none; /*removes sidebar*/
    margin-right: -250px;
    background: #C3C7F7;
    padding-left: 5px;
    /* ^^^ was #7386D5*/
    font-weight: bold;
    color: #10187A;
    transition: all 0.3s;
}

#sidebar.active {
    display: inline; /* adds sidebar back*/
    margin-right: 0px;
}
/*submit button*/
.uisub{
    font-weight: bold;
    background-color: #393E75;
    color: white;
}
.uisub:hover{
    background-color: #7882F5;
    color: #10187A;
}

#content {
    background-color: #7882F5;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.footer{
   text-align: center;
   color: #10187A;
   background: #C3C7F7;
}
/*main and sidebar end*/





/*fontAuseome*/
.fas{
    font-size: 20px;
    color: #10187A;
}

.fas:hover{
    color: #5F67C2;
}
/*font awsome end*/




.table{
   background-color:  #C3C7F7;
}

td{
    color: #10187A;
}

.table a{
    color: red;
}

.manuNav{
    width: 300px;
    height: 150px;
    padding-top: 50px;
    border-radius: 20px;
    background-color: #393E75;
    color: white;
    font-weight: bold;
}
.manuNav:hover{
    background-color: #C3C7F7;
    color: #10187A;
}

.col{
    margin: 5px;
}




/*announcements*/
.announcements {
    margin: 0;
    padding: .3rem;
    font: 1rem 'Fira Sans', sans-serif;
    overflow: auto;
    max-height: 500px;

    overflow: auto;
    height: 350px;
    background: #C3C7F7;
    border: 3px #C3C7F7 solid;

}

.announcements > h1,
.announcementElement{
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.announcementElement{
    background: white;
    display: block;
}

.announcementElement> h2,
.announcementElement> p {
    margin: .2rem;
    font-size: 1rem;
}
.announcementElement p{
    color: #10187A;
}


.announcements a{
    color: #10187A;
    text-decoration: none;

}

h1,h2{
    color: #10187A;
    font-weight: bold;


}


/*announcements section*/

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #10187A;
}




.profileEdit{
    background-color: #C3C7F7;
    color: #10187A;
    font-weight: bold;

}


.profileEdit:hover{
    background-color: #10187A;
    color: #C3C7F7;
    
}

p .fas{
    color: #10187A;
}

p .fas:hover{
    color: #10187A;
}

.read{
    background-color: #C3C7F7;
    color: #10187A;
    font-weight: bold;

}


.read:hover{
    background-color: #10187A;
    color: #C3C7F7;
    
}