{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row toprow">
  <div class="col">

  
  </div>
  <div class="col">
   <form method="POST">
   	<!-- uses django login form  -->
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="loginbutton">Login</button>
  </form>
  <!-- enables admin login -->
  <a href="{% url 'admin:index' %}">Staff Login</a>
  
</div>
</div>







{% endblock content %}