{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row toprow">
	<div class="col">

	</div>
	<div class="col">
		<!-- displays profile section -->
		{% include "students/ui_bits/pass_username_reset.html"%}
	</div>
</div>


{% endblock content %}