{% load crispy_forms_tags %}

<form method="POST">
	{% csrf_token %}

	<legend class="border-bottom mb-4">Profile Info</legend>
	<!-- uses user form to update user login details -->
	{{ u_form|crispy}}
	
	<button class="btn profileEdit" type="submit">Update</button>

</form>

