<!-- holds announcements section -->

<article class="announcements">
    <h1>Announcements</h1>
    <a href="#" class="announcementElement">
        <h2>04 March 2018</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>21 April 2018</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>09 November 2019</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>25 December 2018</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>01 January 2019</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>14 February 2020</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
    <a href="#" class="announcementElement">
        <h2>07 May 2018</h2>
        <p id="paragraph">Lorem ipsum dolor sit amet, ei his everti dissentias, has dicta voluptatum concludaturque no. Ut mutat rationibus ius, vim ad docendi laboramus aliquando. Ea sea eros tollit blandit. Mel falli noluisse recusabo te, vel delenit voluptua at.</p>
    </a>
</article>
