<!-- holds coursework section -->

<h1>Coursework</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Time Left</th>
      <th scope="col">Module</th>
      <th scope="col">Info</th>
      <th scope="col">Submit</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
      <th scope="row">1</th>
      <td>Coursework 1</td>
      <td>27/07/20</td>
      <td>			      	
      	<div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
      <td>Web Development</td>
      <td class="view"><a href="#" style="color:blue;">View</a></td>
      <td><a href="#">Submit</a></td>
      <td id="Status">Incomplete</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Coursework 1</td>
      <td>11/07/20</td>
      <td>			      	
      	<div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 9%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
      <td>Databases</td>
      <td class="view"><a href="#" style="color:blue;">View</a></td>
      <td><a href="#">Submit</a></td>
      <td id="Status">Complete</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Coursework 3</td>
      <td>01/08/20</td>
      <td>			      	
      	<div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
      <td>Networks</td>
      <td class="view"><a href="#" style="color:blue;">View</a></td>
      <td><a href="#">Submit</a></td>
      <td id="Status">Incomplete</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Final Project</td>
      <td>01/09/20</td>
      <td>			      	
      	<div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
      <td>Final Project</td>
      <td class="view"><a href="#" style="color:blue;">View</a></td>
      <td><a href="#">Submit</a></td>
      <td id="Status">Incomplete</td>
    </tr>


    <tr>
      <th scope="row">5</th>
      <td>Coursework 2</td>
      <td>20/06/20</td>
      <td>			      	
      	<div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
      <td>Maths</td>
      <td class="view"><a href="#" style="color:blue;">View</a></td>
      <td><a href="#">Submit</a></td>
      <td id="Status">Complete</td>
    </tr>
  </tbody>
</table>