<!-- holds main home nav -->

{% if user.profile.layout == "0" %}

<div class="row toprow">
  <div class="col">

    
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'courseworks' %}">Coursework</a>

  </div>
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'modules' %}">Modules</a>
    
  </div>
</div>
<div class="row toprow">
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="#">Grades</a>
    
  </div>
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Timetable</a>
  </div>

</div>
<div class="row toprow">
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'instructions' %}">Instructions</a>
    
  </div>
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'textRead' %}">TextRead</a>
    
  </div>

</div>

{% elif user.profile.layout == "1" %}

<div class="row toprow">
  <div class="col">

    
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'modules' %}">Modules</a>

  </div>
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Grades</a>
  </div>
</div>
<div class="row toprow">
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Timetable</a>
  </div>
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'instructions' %}">Instructions</a>
  </div>

</div>
<div class="row toprow">
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Contact</a>
  </div>
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Announcements</a>
  </div>

</div>

{% else %}
<div class="row toprow">
</div>
<div class="row toprow">
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="#">Grades</a>
    
  </div>
  <div class="col">
    
    <a class="btn navbar-btn btn-lg manuNav" href="#">Timetable</a>
  </div>

</div>
<div class="row toprow">
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="{% url 'instructions' %}">Instructions</a>
    
  </div>
  <div class="col">
    <a class="btn navbar-btn btn-lg manuNav" href="#">Contact</a>
    
  </div>

</div>



{% endif %}