<!-- holds module table -->

<h1>Modules</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Semester</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
      <th scope="row">1</th>
      <td>Maths</td>
      <td>1</td>
      <td>11223</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Final Project</td>
      <td>2</td>
      <td>20133</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Networks</td>
      <td>2</td>
      <td>11011</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Databases</td>
      <td>1</td>
      <td>32001</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Web Development</td>
      <td>1</td>
      <td>10021</td>
    </tr>
  </tbody>
</table>