
{% load static %}
<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a73f5d5da5.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>


<!-- chooses correct stylesheet based on user ui settings -->
  {% if user.profile.theme == 0 %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleDefault.css' %}">
  {% elif user.profile.theme == 1 %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleLight.css' %}">
  {% elif user.profile.theme == 2 %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleLightBlue.css' %}">
  {% elif user.profile.theme == 3 %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleAutumn.css' %}">
  {% elif user.profile.theme == 4 %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleDefaultDark.css' %}">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{% static 'portal/styleDefault.css' %}">
  {% endif %}


  {% if title %}
  <title>Portal - {{title}}</title>
  {% else %}
  <title>Portal</title>
  {% endif %}
</head>
<body id="body">

  <div class="wrapper">

    <div id="content">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-home' %}">Home</a>
            </li>
          </ul>


          <ul class="navbar-nav navbar-right">
            <!-- ensures user is logged in -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <!-- checks if style can be edited based on user profile settings -->
            {% if user.profile.editable == True %}
            <li class="nav-item">
              <a class="nav-link" id="sidebarCollapse""><i class="fas fa-cogs"></i></a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </nav>


      <div class="container-fluid">
        <!-- content block for holding ui elements  -->
        {% block content %}

        {% endblock %}

      </div>


    </div>
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>UI Styler</h3>
      </div>
      <!-- chacks for user -->
      {% if user.is_authenticated %}

      <!-- ui form -->
      <div class="content-section">
        <form action="{% url 'ui_edit'%}" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{ ui_form|crispy}}
          </fieldset>
          <div class="form-group">
            <button class="btn uisub" type="submit">Update</button>
          </div>
        </form>
      </div>
      {% endif %}
    </nav>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      FinalProject By LL16M25S
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- sidebar stle functionality -->
  <script type="text/javascript">
   $(document).ready(function () {
     $('#sidebarCollapse').on('click', function () {
       $('#sidebar').toggleClass('active');
     });
   });
 </script>

 <!-- performs inverse css style -->
 {% if user.profile.inverse == True %}
 <script>
  document.getElementById("body").style.filter="invert(100%)";
</script>
{% endif %}

<!-- global font size -->
{% if user.profile.Fontsize == "14" %}
<script>
  document.getElementById("body").style.fontSize="100%";
</script>
{% elif user.profile.Fontsize == "16" %}
<script>
  document.getElementById("body").style.fontSize="110%";
</script>
{% elif user.profile.Fontsize == "18" %}
<script>
  document.getElementById("body").style.fontSize="120%";
</script>
{% elif user.profile.Fontsize == "20" %}
<script>
  document.getElementById("body").style.fontSize="130%";
</script>
{% endif %}


<script>
  function speakText(){
    var text = document.getElementById('txt').value;
    responsiveVoice.speak(text);

  }
</script>

</body>
</html>
