<!DOCTYPE html>
{% extends "portal/base.html" %}

{% block content %}
	<div class="row toprow">
	    <div class="col">
	    	<!-- includes coursework table -->
			{% include "portal/ui_bits/courseworkTable.html"%}
	    </div>
  	</div>
{% endblock content %}

