<!DOCTYPE html>
{% extends "portal/base.html" %}

{% block content %}

<!-- chooses correct layout based on user ui settings -->

  <div class="row toprow">
    <div class="col">
	{% if user.profile.layout == "0" %}

        {% include "portal/ui_bits/home_Nav.html"%}

    {% elif user.profile.layout == "1" %}

        {% include "portal/ui_bits/home_Nav.html"%}

    {% elif user.profile.layout == "2" %}

        {% include "portal/ui_bits/courseworkTable.html"%}

	{% endif %}
      

      
    </div>
    <div class="col">
	{% if user.profile.layout == "0" %}

        {% include "portal/ui_bits/announcements.html"%}

    {% elif user.profile.layout == "1" %}

       	{% include "portal/ui_bits/courseworkTable.html"%}

    {% elif user.profile.layout == "2" %}

        {% include "portal/ui_bits/moduleTable.html"%}

	{% else %}

	{% endif %}
         
    </div>
  </div>
  <div class="row toprow">
        <div class="col">
  {% if user.profile.layout == "0" %}

        

    {% elif user.profile.layout == "1" %}

        

    {% elif user.profile.layout == "2" %}

    {% include "portal/ui_bits/home_Nav.html"%}

  {% endif %}
      

      
    </div>
    <div class="col">
  {% if user.profile.layout == "0" %}

        

    {% elif user.profile.layout == "1" %}

        

    {% elif user.profile.layout == "2" %}

    {% include "portal/ui_bits/announcements.html"%}

  {% endif %}
    </div>
  </div>



{% endblock content %}
