<!DOCTYPE html>
{% extends "portal/base.html" %}

{% block content %}
<h1>Instructions</h1>
<div class="row toprow">
	<div class="col">
		
		<article>
			<p>Step 1 : Click the <i class="fas fa-cogs "></i> in the top right of the screen.</p>
			<p>Step 2 : Please select any of the options in the UI Edit form.</p>
			<p>Step 3 : Once the desired options have been selected please select the SUBMIT button to update the UI.</p>

			<br>
			<p><i>NOTE</i>: If the <i class="fas fa-cogs "></i> is not visible user options may be set to "not editable" in the profile database (only changable via admin accounts).</p>
			<!-- profile settings can be changed by admin users -->

		</article>

	</div>
</div>

{% endblock content %}