<!DOCTYPE html>
{% extends "portal/base.html" %}

{% block content %}
<div class="row toprow">
	<div class="col">
		<!-- displays module section -->
		{% include "portal/ui_bits/moduleTable.html"%}
	</div>
</div>


{% endblock content %}