
{% extends "portal/base.html" %}

{% block content %}

<h1>Text Reader</h1>
<!-- text reader -->

<div class="form-group">
	<textarea class="form-control" id="txt" rows="3"></textarea>
</div>
<input class="btn read" onclick="speakText()" type="button" value="Read">


{% endblock content %}
